<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <title>🎡3rdWheel</title>
</head>

<body>
  <!-- 3rdWheel -->
  <div id="home">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-none">
            <a class="navbar-brand" href="/">3RDWheel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Sign up -->
            <div class="collapse navbar-collapse" id="navbarText">
              <div class="col-12 text-right">
                <a data-toggle="modal" href="#signupModal" class="navbar-text mr-5" id="sign">sign up</a>
                <a data-toggle="modal" href="#loginModal" class="navbar-text">log in</a>
              </div>
              {{!-- <div class="col-3"> --}}
              {{!-- <a data-toggle="modal" href="#loginModal" class="navbar-text">log in</a> --}}
              {{!-- </div> --}}

              <div class="modal fade" id="signupModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 style="color:green;"><span class="glyphicon glyphicon-lock"></span></h4>
                    </div>
                    <div class="modal-body">
                      <form role="form" id="signup" name="signup" method="post" action="/signup">
                        <div class="form-group">
                          <label for="usrname"><span class="glyphicon glyphicon-user"></span>create username</label>
                          <input name="username" type="text" class="form-control" id="usrname" placeholder="enter user">
                        </div>
                        <div class="form-group">
                          <label for="psw"><span class="glyphicon glyphicon-eye-open"></span>create password</label>
                          <input name="password" type="text" class="form-control" id="psw" placeholder="enter password">
                        </div>
                        <button type="submit" class="btn btn-default btn-success btn-block"><span
                            class="glyphicon glyphicon-off"></span>sign up</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- </div> --}}
              <!-- Login -->
              {{!-- <a data-toggle="modal" href="#loginModal" class="navbar-text">log in</a> --}}
              <div class="modal fade" id="loginModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 style="color:green;"><span class="glyphicon glyphicon-lock"></span></h4>
                    </div>
                    <div class="modal-body">
                      <form role="form" id="signin" name="signin" method="post" action="/signin">
                        <div class="form-group">
                          <label for="usrname"><span class="glyphicon glyphicon-user"></span>username</label>
                          <input name="username" type="text" class="form-control" id="usrname" placeholder="enter user">
                        </div>
                        <div class="form-group">
                          <label for="psw"><span class="glyphicon glyphicon-eye-open"></span>password</label>
                          <input name="password" type="text" class="form-control" id="psw" placeholder="enter password">
                        </div>
                        <button type="submit" class="btn btn-default btn-success btn-block"><span
                            class="glyphicon glyphicon-off"></span>login</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </nav>
        </div>
      </div>
      {{{body}}}
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer">&copy;3rdWheel 2019</footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

<script src="/js/logic.js"></script>
<script src="/js/index2.js"></script>

</html>