<!-- 3rdWheel -->
<div id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-none">
          <a class="navbar-brand" href="/">3RDWheel</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Sign in -->
          <div class="collapse navbar-collapse" id="navbarText">
            <div class="col-4 offset-8 text-right">
              <a data-toggle="modal" href="#signupModal" class="navbar-text mr-5" id="sign">sign up</a>
              <div class="modal fade" id="signupModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 style="color:green;"><span class="glyphicon glyphicon-lock"></span></h4>
                    </div>
                    <div class="modal-body">
                      <form role="form">
                        <div class="form-group">
                          <label for="usrname"><span class="glyphicon glyphicon-user"></span>create username</label>
                          <input type="text" class="form-control" id="usrname" placeholder="enter user">
                        </div>
                        <div class="form-group">
                          <label for="psw"><span class="glyphicon glyphicon-eye-open"></span>create password</label>
                          <input type="text" class="form-control" id="psw" placeholder="enter password">
                        </div>
                        <button type="submit" class="btn btn-default btn-success btn-block"><span
                            class="glyphicon glyphicon-off"></span>login</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Login -->
            <a data-toggle="modal" href="#loginModal" class="navbar-text">log in</a>
            <div class="modal fade" id="loginModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal -->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:green;"><span class="glyphicon glyphicon-lock"></span></h4>
                  </div>
                  <div class="modal-body">
                    <form role="form">
                      <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> username</label>
                        <input type="text" class="form-control" id="usrname" placeholder="enter user">
                      </div>
                      <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> password</label>
                        <input type="text" class="form-control" id="psw" placeholder="enter password">
                      </div>
                      <button type="submit" class="btn btn-default btn-success btn-block"><span
                          class="glyphicon glyphicon-off"></span>login</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Form -->
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-header">
            fill the form below to create an account and to post your activity
          </div>

          <div class="card-body">

            <form role="form">
              <div class="form-group">
                <label for="category">Example select</label>
                <select class="form-control" id="category">
                  <option>Food & Wine</option>
                  <option>Sports</option>
                  <option>Entertainment</option>
                </select>
              </div>
              <div class="form-group">
                <label for="reserve-name">name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="reserve-phone">location</label>
                <input type="text" class="form-control" id="location">
              </div>
              <div class="form-group">
                <label for="reserve-email">date</label>
                <input type="datetime-local" class="form-control" id="date">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">activity details</label>
                <textarea class="form-control" id="details" rows="3"></textarea>
              </div>
              <br />
              <button type="button" class="btn btn-secondary" id="addHangoutButton">submit</button>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="submitBtn" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">wait!</h4>
                  </div>
                  <div class="modal-body">
                    <p>please sign in or create an account</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">&copy;3rdWheel 2019</footer>
      </div>