    <div class="row">
      <div class="col-12">
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid" id="display" style="padding: none">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- User Buttons -->
        <div class="user-btn">
          <a href="/join"><button class="btn btn-lg btn-warning"><span class="join"></span>
              JOIN</button></a>
          <a href="/post"><button class="btn btn-lg btn-warning"><span class="post"></span>
              POST</button></a>
        </div>
      </div>
    </div>
    <!-- welcome modal -->
<div class="modal fade" id="welcomeModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 style="color:green;"><span class="glyphicon glyphicon-lock"></span></h4>
                    </div>
                    <div class="modal-body">
                      <p>you're signed in!</p>
                    </div>
                  </div>
                </div>
              </div>
              <script>$('#welcomeModal').modal('show')</script>